In [1]:
pip install google-cloud

Collecting google-cloud
  Downloading google_cloud-0.34.0-py2.py3-none-any.whl.metadata (2.7 kB)
Downloading google_cloud-0.34.0-py2.py3-none-any.whl (1.8 kB)
Installing collected packages: google-cloud
Successfully installed google-cloud-0.34.0

In [2]:
pip install Faker

Collecting Faker
  Downloading Faker-30.8.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from Faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Downloading Faker-30.8.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 19.0 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-30.8.0

In [30]:
# Variables
project = "xxxxxxxx"
my_dataset = "py_dataset20241021"
my_table = "py_table20241021"
src_bucket = "bkt-dev-src20241021"
destination_bucket = "bkt-dev-dst20241021"

In [26]:
from google.cloud import bigquery
from google.cloud import storage
from google.cloud.bigquery import LoadJobConfig
from faker import Faker
import pandas as pd
import csv
import datetime
import time

In [14]:
from google.colab import auth
auth.authenticate_user()

In [20]:
# Crear función para crear tabla en BigQuery
def create_bq():
    client = bigquery.Client(project=project)

    dataset_id = my_dataset
    table_id = my_table

    schema = [
        bigquery.SchemaField("id", "INTEGER"),
        bigquery.SchemaField("name", "STRING"),
        bigquery.SchemaField("email", "STRING"),
        bigquery.SchemaField("description","STRING"),
        bigquery.SchemaField("address","STRING"),
        bigquery.SchemaField("city","STRING"),
        bigquery.SchemaField("state","STRING"),
        bigquery.SchemaField("country","STRING"),
        bigquery.SchemaField("birthdate","DATE"),
        bigquery.SchemaField("password","STRING"),
        bigquery.SchemaField("last_login","TIMESTAMP")
    ]

    table_ref = client.dataset(my_dataset).table(my_table)
    table = bigquery.Table(table_ref, schema=schema)

    try:
        dataset = client.create_dataset(my_dataset)
        print(f"Created dataset {my_dataset}")
    except:
        print(f"Dataset {my_dataset} already exists")

    try:
        table = client.create_table(table)
        print(f"Created table {table_id}")
    except:
        print(f"Table {table_id} already exists")

In [6]:
# Crear función para generar datos en tabla origen BigQuery
def generate_data(num_rows):
    fake = Faker()
    now = datetime.datetime.now()
    filename = "data_" + now.strftime("%Y%m%d%H%M%S") + ".csv"


    with open(filename, 'w', newline='') as csvfile:
        fieldnames = ['id', 'name', 'email', 'description', 'address', 'city', 'state',
                      'country', 'birthdate', 'password', 'last_login']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

        writer.writeheader()
        for i in range(num_rows):
            writer.writerow(
                {
                    'id': fake.random_int(),
                    'name': fake.name(),
                    'email': fake.email(),
                    'description': fake.sentence(),
                    'address': fake.street_address(),
                    'city': fake.city(),
                    'state': fake.state(),
                    'country': fake.country(),
                    'birthdate': fake.date(),
                    'password': fake.password(),
                    'last_login': fake.date_time()
                }
            )
    print (f"Data generated with {num_rows} records")

    client = storage.Client()
    bucket_name = src_bucket
    bucket = client.bucket(bucket_name)
    blob = bucket.blob(filename)
    blob.upload_from_filename(filename)
    print(f"File {filename} Uploaded to {bucket_name}")

    return filename

In [17]:
# Crear función para cargar datos de tabla origen BigQuery
def load_bq(filename):
    client = bigquery.Client(project=project)
    filename = filename
    table_ref = client.dataset(my_dataset).table(my_table)
    job_config = LoadJobConfig()
    job_config.source_format = bigquery.SourceFormat.CSV
    job_config.skip_leading_rows = 1
    job_config.autodetect = True

    uri = f'gs://{src_bucket}/{filename}'
    load_job = client.load_table_from_uri(uri, table_ref, job_config=job_config)
    load_job.result()
    time.sleep(10)
    num_rows = load_job.output_rows
    print(f"{num_rows} rows loaded into {my_table}.")

In [18]:
# Crear función para extraer datos de tabla origen BigQuery hacia tabla destino
def extract_bq():
    client = bigquery.Client(project=project)
    dataset_ref = client.dataset(my_dataset)
    table_ref = dataset_ref.table(my_table)
    job_config = bigquery.ExtractJobConfig()
    job_config.compression = 'GZIP'
    job_config.field_delimiter = ','
    job_config.print_header = False

    now = datetime.datetime.now()
    filename = "bqextract_" + now.strftime("%Y%m%d%H%M%S") + ".csv"
    destination_uri = f'gs://{destination_bucket}/{filename}'

    extract_job = client.extract_table(table_ref, destination_uri, job_config=job_config)

    extract_job.result()

    print('Data extracted from table {} and loaded into GCS bucket {}.'.format(table_ref.path, destination_uri))

In [21]:
# Crear tabla origen en BigQuery
create_bq()

Created dataset py_dataset20241021
Created table py_table20241021

In [15]:
# Generar archivo con datos a cargar
filename = generate_data(500)

Data generated with 500 records
File data_20241021155117.csv Uploaded to bkt-dev-src20241021

In [22]:
# Cargar datos del archivo a tabla origen en BigQuery
load_bq(filename)

500 rows loaded into py_table20241021.

In [31]:
# Consultar datos de tabla origen en BigQuery
client = bigquery.Client(project=project)
query = f"SELECT * FROM `{project}.py_dataset20241021.py_table20241021` LIMIT 1000"
query_job = client.query(query)
df = query_job.to_dataframe()
df.head(50)

,id,name,email,description,address,city,state,country,birthdate,password,last_login
0,194,Brandon Vance Jr.,joysmith@example.com,Perform create record move personal home kid.,398 Hall Springs,South Brendaton,Iowa,Mongolia,2003-02-14,8#8g*3@rrN,2019-12-04 05:33:59.786843+00:00
1,6274,Barry Sanders,jonescraig@example.com,Sure sign foot television impact town rule.,74913 Kelly Branch,Hendersonberg,Iowa,Greece,1985-04-05,x9Clz49v(J,1985-02-02 07:28:47.943444+00:00
2,700,Seth Montoya,hallstacey@example.org,Matter find understand.,68553 Williams Bridge,Williamberg,Iowa,Seychelles,1991-01-25,(2Q2^W^xCD,2001-07-15 18:50:39.063167+00:00
3,8625,Katherine Hart,hilltyler@example.org,Career deal deal big start series nothing deal.,9139 Matthew Burg,Littlehaven,Iowa,Pakistan,2001-04-11,)FhL6EvDWz,2006-01-16 18:16:13.369839+00:00
4,7971,Peter Wright,brian94@example.org,I including truth.,70483 Nicholas Corners,Lake Daniel,Iowa,Netherlands Antilles,1996-09-22,6+&2EO&j8_,2001-01-07 15:07:48.122758+00:00
5,2768,Megan Solomon,baileymike@example.net,Dog international help let.,508 Brown Lakes,New Nathan,Iowa,Kiribati,1996-11-28,Tr$8KBr8T^,1998-10-28 21:18:04.315860+00:00
6,2371,Ronald Green,igreene@example.org,Media become have like.,2489 Amy Fork Apt. 559,Lake Shirleyland,Iowa,Philippines,2013-02-11,N)jI3Tf#U+,1992-01-23 05:31:04.166546+00:00
7,9567,Anne Martin,sdavenport@example.org,Mouth citizen community picture shake.,67449 Zhang Ridge Suite 412,Jeffreychester,Ohio,Korea,1979-08-03,7E6TAHIaD_,2012-08-05 01:59:46.753078+00:00
8,5392,Jeffery Bell,ronaldstewart@example.net,Anything before side then.,73190 Wolf Stream Apt. 090,North Michael,Ohio,Italy,1979-05-02,%&Gaf8MwJr,1985-05-16 00:00:05.099731+00:00
9,256,Justin Rivera,tpage@example.com,Company professional drop compare certainly to...,83039 Gabriela Meadows Apt. 030,Sylviaton,Ohio,Sweden,2013-08-27,@4UeRrBhrG,2018-08-29 04:21:34.926075+00:00
10,3060,Claire Rodriguez,bradleyjavier@example.org,Prevent employee interest.,0092 King Freeway,Alexiston,Ohio,Morocco,2004-02-06,#0e)TxSYw1,1999-05-07 12:41:19.894477+00:00
11,878,Ronald Jackson,mary43@example.net,Authority current see truth new across.,439 Anne Land,Davistown,Ohio,Qatar,2023-04-05,2%vc2C2wLu,2012-02-02 12:02:47.223759+00:00
12,343,Rebecca Khan,monicaparker@example.net,Father agree sing produce animal pick gun happen.,1179 Jay Expressway,Rojasside,Ohio,Benin,1995-01-21,)3!S_KTjLZ,2006-06-13 19:40:20.340122+00:00
13,8086,Renee Wright,evelyn11@example.org,Approach draw key hand activity.,262 Gerald Terrace Suite 919,West Kaylahaven,Ohio,Norway,1996-10-02,Lq5wDmBL!+,1977-01-26 01:51:55.156061+00:00
14,5750,Justin Ayers,fthomas@example.org,Wait theory picture.,94486 Gregory Brook Suite 143,Adrianport,Ohio,Antigua and Barbuda,2021-01-05,X5*I2Utjgs,1986-04-06 05:05:35.368564+00:00
15,4416,Allen Johnson MD,durantammy@example.net,Hope executive manage recent determine sort sp...,5853 Espinoza Summit Apt. 741,Barbaramouth,Ohio,Ukraine,1975-10-14,t4TsvAUN#N,1992-10-16 16:12:54.572463+00:00
16,6727,Jack Wright,lawsonmitchell@example.net,State skill realize.,86853 Darlene Street Apt. 453,Michaelland,Ohio,Brazil,1994-09-11,&cY2FDceD5,1970-05-02 14:48:57.682344+00:00
17,460,Keith Woods,gonzalesjeffrey@example.net,Hand store of call list threat.,27542 Wilson Curve,Port Debra,Utah,Holy See (Vatican City State),2002-08-08,&*$6&@MtqO,2003-05-13 12:12:13.998571+00:00
18,8402,Adam Brown,kristinhernandez@example.org,Fund street treat show view local.,6175 Cook Shoal Apt. 750,South Thomas,Utah,Armenia,1979-07-26,_qqXY)o+W9,1995-02-13 16:42:59.431128+00:00
19,4807,James Olson,hardykimberly@example.net,Doctor involve know fall.,7525 Thompson Park,East Jesse,Utah,Ghana,2011-06-19,tK3j%JlhQ+,1974-04-04 14:01:40.304364+00:00
20,8613,Christopher Aguilar,barbarascott@example.org,Everybody sport control speech letter.,7915 Bruce Shores Suite 419,East John,Utah,Monaco,2021-06-09,W3Zl!FEz*t,1998-09-07 06:07:22.812884+00:00
21,5806,Alexander West,danielmyers@example.net,Toward watch base small great should.,3053 Green Center Suite 827,Audreyville,Utah,Barbados,1977-08-16,l7SAJjq+&d,2021-08-05 20:46:11.353839+00:00
22,8128,Amy King,daniel22@example.net,Already two wind.,6083 Campbell Well Suite 304,Lake Jeffery,Utah,Chad,1980-04-28,_MEVWgSyn1,1999-01-26 02:57:44.966187+00:00
23,1269,Jason Anderson,debraanderson@example.com,Set others herself.,5834 Kim Extensions Suite 445,East Sarah,Utah,Norfolk Island,1984-02-27,h^cPjv1f%4,1979-05-23 23:20:14.514981+00:00
24,2202,Latoya Ramirez,wendyporter@example.org,Far since bad treatment issue.,375 Rebecca Lakes,Shellyton,Utah,Botswana,2016-12-11,*vuK1Ahd6b,1983-11-23 01:19:20.473716+00:00
25,8470,Russell Jones,gilesjeffrey@example.net,Dark cause beyond treatment better.,3363 Jessica Landing,Pittmanview,Utah,Ecuador,1987-01-08,!MS6ha6y7B,2010-01-05 14:22:30.669420+00:00
26,9499,Shawn Gibson,salazarsarah@example.org,Least next consider by.,9777 Michael Freeway,Jasonport,Utah,Kazakhstan,2006-11-23,%4CIvw^lC8,2012-04-25 22:34:24.187555+00:00
27,4983,Jeffrey Ramirez,heather99@example.net,War hotel address.,819 Caroline Prairie,New Stephenmouth,Idaho,Falkland Islands (Malvinas),2018-01-14,x5@Pup(r&Y,1978-10-28 08:42:34.137131+00:00
28,4049,Glenn Brown,dariuspeterson@example.org,Shoulder safe several history.,3280 Frey Springs Apt. 451,Johnsonburgh,Idaho,Monaco,2008-08-19,%6Fal^Ps$B,2002-03-31 07:15:18.197369+00:00
29,3610,Lisa Williams,dramirez@example.net,Movie play western these whatever ten.,5924 Patrick Inlet Suite 977,Deborahland,Idaho,Gambia,1997-04-14,#^YM9&nze2,2023-06-25 17:52:28.989444+00:00
30,1748,Kimberly Evans,justingregory@example.net,Either factor true itself central experience.,421 Shawn Crossing,Lake Petermouth,Idaho,United States of America,1970-06-07,(l1#Gb+kci,1998-12-05 22:42:50.988130+00:00
31,4545,Kendra Collins,shelly93@example.com,Also me Republican artist.,92187 Megan Keys Suite 940,Dawsonstad,Idaho,Burkina Faso,2014-12-20,a^5RAc4QEx,1979-05-10 11:01:58.635126+00:00
32,9585,Isabella Yates,shawn65@example.com,Song interest however true.,205 Walker Course,North Sharon,Idaho,New Caledonia,1972-03-08,blR1TfO(&t,2007-11-07 03:27:06.184176+00:00
33,3221,Jennifer Robinson,stacy29@example.net,Time more check woman finish society.,007 Hall Gateway Apt. 524,Ericastad,Idaho,Palau,2005-03-18,*#uC8qJgJo,2008-09-22 09:10:27.213436+00:00
34,5642,Elizabeth Grant,patrick44@example.net,Service game key Mrs.,02996 Samantha Forges Apt. 374,New Denise,Idaho,Moldova,2018-06-06,RAXyqRBE@8,1997-02-05 20:12:56.033363+00:00
35,1985,Angela Wu,jackiejones@example.net,Great bag seek account.,971 Nelson Trail Apt. 593,Martinezchester,Idaho,Guatemala,2022-05-01,(YA2Lr6f+4,1972-06-22 00:13:00.357945+00:00
36,595,Rebecca Matthews,kaitlynmack@example.org,Continue drop staff laugh level forget.,379 Joyce Wells,Smithburgh,Maine,Dominican Republic,2011-02-22,tt+7JEdDx%,1974-05-04 10:47:03.835183+00:00
37,8825,Maria Brown,yoliver@example.net,Turn rich these performance.,483 Karen Street Suite 058,North Shawnmouth,Maine,Anguilla,1999-05-23,+1KiwAwT)1,2003-03-09 00:14:19.590843+00:00
38,4622,Deborah Myers,michaelfriedman@example.org,Rather actually bed.,0676 Clark Corners,Lihaven,Maine,Bermuda,2011-09-25,U)Bd6qDe)a,2010-01-21 06:17:36.562141+00:00
39,7438,Kim Mcintosh,krystal75@example.net,For yourself present wonder pay edge I.,586 Dustin Stream,Justinberg,Maine,Gibraltar,1990-08-25,3szD_1Xe^a,1976-09-28 12:26:35.103604+00:00
40,907,Ruben Friedman,newmanbryan@example.org,Impact music include citizen.,74239 Fields Street,North Larryburgh,Maine,Lebanon,2023-01-12,1Y(jIex+#H,1995-08-05 05:38:45.023751+00:00
41,9208,Ryan May,morganbarrett@example.net,Medical prevent window culture.,68672 Stevens Greens,New Francisco,Maine,Kuwait,1999-07-30,1z1+K5g^^p,2013-12-25 01:08:39.018533+00:00
42,8142,Peter Whitaker,andrewerickson@example.com,Woman plan attorney fire chair.,40617 Shepherd Club Apt. 517,Benjaminshire,Maine,Mauritania,2000-11-02,1guLiRCz#e,1993-09-17 04:58:24.010955+00:00
43,3580,Travis Hull,jorgegomez@example.com,Feel really worker part once discover yes.,42904 Tyler View Apt. 905,West Angelachester,Maine,United Arab Emirates,1973-03-07,DHy1B9c+&q,1996-12-13 10:17:42.403108+00:00
44,474,Jaime Blackwell,smithaustin@example.net,Entire inside white girl million style.,0771 Campbell Shoal,Craigborough,Maine,Marshall Islands,2016-07-25,*LR@ViM&q1,1980-09-04 19:02:20.386593+00:00
45,548,Kevin Palmer,mariaodonnell@example.org,Mission collection wonder action.,40617 Wilson Creek Apt. 792,Huntborough,Maine,Sierra Leone,1991-09-04,*Y#TUfRpx7,1980-01-12 23:34:45.014803+00:00
46,3012,Cheryl Martin,carolyn06@example.org,Whom different conference garden.,18620 Alyssa Trail Suite 983,Austinmouth,Texas,Saint Martin,1988-07-04,*18#H!*m)%,1984-01-19 05:07:55.196630+00:00
47,7441,Heather Howard,patrick70@example.net,Simply wish trial compare.,58346 Garcia Stream Apt. 918,Conradport,Texas,France,2005-11-29,k@&sx4Iquv,2018-07-18 14:36:29.271914+00:00
48,6238,Mark Walker,georgejohn@example.net,Much fine gas former.,645 Martin Village Suite 030,West Williamville,Texas,Burundi,1983-04-25,67Vx*1Gpz7,2019-11-03 18:13:58.782694+00:00
49,5496,Carl Lee,rwarner@example.net,West value write dinner any actually.,5275 Cooper Union Suite 044,Lake Christopherfort,Texas,Bhutan,2006-05-11,+lA%Cwf#31,2006-11-26 19:27:17.379344+00:00

In [23]:
# Extraer datos de tabla origen y cargar en bucket destino
extract_bq()

Data extracted from table /projects/bigquerypython-439314/datasets/py_dataset20241021/tables/py_table20241021 and loaded into GCS bucket gs://bkt-dev-dst20241021/bqextract_20241021160354.csv.

In [29]:
# Mostrar archivo creado por la ETL en bucket destino
client = storage.Client()
blobs = client.list_blobs(destination_bucket)

for blob in blobs:
    print(blob.name)

bqextract_20241021160354.csv